@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --body-bg: #0f0f0f;
  --main-color: #ff0000;
  --txt-color: #fff;
  --white-color: #ffffff;
  --black-color:#000000;


  --height-header: 120px;
  --height-header-shrink:80px;
  --border-radius: 30px;
  --mobile-width: 600px;
  --tablet-width: 1024px;
  --font-family: 'Montserrat', sans-serif;
  --box-shadow: 0 7px 29px 0 rgba(100,100,111,0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  background: var(--body-bg);
  color: var(--txt-color);


}

button {
  cursor: pointer;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--main-color);
}

button,input {
  border: 0;
  outline: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
